.zee {
    background: #333;
    color: #fff;
    font-size: 30px;
    padding: 7px;
}

@font-face {
  /* NeoSans regular */
  font-family: nes;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NeoSans-regular.woff) format('woff');
}

@font-face {
  /* NeoSans Bold */
  font-family: nesb;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NeoSans-bold.woff) format('woff');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: nes;
  font-size: 15px;
  line-height: 25px;
  background: #fff url(img/bodybgr.jpg) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

body:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  content: '';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clfx:after, .jp-playlist li:after {
  content: '';
  display: block;
  clear: both;
}

.nicescroll-rails {
  z-index: 12 !important;
}

.wrapp {
  position: relative;
  z-index: 2;
}

.wrapp>a.menu-toggle {
  float: laft;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  position: absolute;
}

.sh-list-wrapp {
  max-height: 90%;
}

.sh-list .menu-toggle {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 40px;
  color: red;
  font-size: 24px;
}

.sh-list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  border-left: 1px solid #313131;
  width: 250px;
  padding: 10px;
  -webkit-transform: translate(101%);
  -ms-transform: translate(101%);
  transform: translate(101%);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  -webkit-box-shadow: -14px 0px 11px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -14px 0px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -14px 0px 11px 0px rgba(0, 0, 0, 0.5);
}

.show-menu .sh-list {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.show-menu #ascrail2001 {
  -webkit-transform: translate(-244px);
  -ms-transform: translate(-244px);
  transform: translate(-244px);
}

.sh-list li {
  margin-bottom: 10px;
  border-radius: 4px;
}

.current-player {
  background-color: #2c3e50;
}

.sh-list li a {
  display: block;
  height: 36px;
  color: #127f1c;
}
body{
font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #444;
    background: url(http://a1iraqi.com/imgae/mac.png);
    background-attachment: fixed;
}
span {
    color: #ff0045;
}

.sh-list li.current-player a {
  color: #fff;
  cursor: not-allowed;
}

.sh-list li a img {
  width: 36px;
  height: 36px;
  display: block;
  float: right;
  border-radius: 5px;
  padding: 1px;
  border: 1px solid #111;
}

.sh-list li a span {
  display: block;
  margin-right: 42px;
  line-height: 20px;
  padding-top: 8px;
}

.jp-jplayer, .jp-audio {
  direction: ltr;
}

/*===========================================*/

.player-block {
  margin: 0 auto;
  max-width: 900px;
  max-height: 90%;
  position: relative;
  overflow: hidden;
  clear: both;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
  border: 1px solid #191919;
}

.jp-state-playing .jp-play .fa:before {
  content: '';
}

.jp-interface, .player-block {
  background-color: #191919;
}

.f {
  height: 6px;
}

.jp-progress {
  margin-bottom: 10px;
}

.jp-seek-bar {
  background-color: #999;
}

.jp-play-bar {
  background-color: #139632;
  height: 6px
}

.jp-controls {
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
  width: 170px;
}

.jp-controls button {
  display: block;
  width: 40px;
  line-height: 44px;
  padding: 4px;
  margin: 0 auto;
}

.jp-controls button.jp-previous {
  float: left;
}

.jp-controls button.jp-next {
  float: right;
}

.jp-controls .jp-play {
  font-size: 22px;
}

.jp-interface button {
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.jp-volume-controls {
  float: right;
  padding-right: 8px;
}

.jp-volume-controls button, .jp-volume-controls div {
  float: right;
  margin-left: 8px;
}

.jp-volume-controls button {
  padding: 4px;
  font-size: 16px;
}

.jp-volume-controls button.toggle-left, .jp-volume-controls button.jp-mute {
  color: #3b8490;
}

.jp-volume-controls button.jp-volume-max {
  color: #da5a5a;
}

.jp-volume-controls button.jp-repeat {
  color: #a0a4fc;
}

.jp-state-looped button.jp-repeat, .jp-state-shuffled button.jp-shuffle {
  background-color: #000;
  border-radius: 3px;
}

.jp-volume-controls button.jp-shuffle {
  color: #87e28f;
}

.jp-volume-bar {
  background-color: #fff;
  width: 100px;
  margin-top: 13px;
  direction: ltr;
}

.jp-volume-bar-value {
  background-color: #8b1317;
  height: 5px;
  float: none !important;
  margin: 0 !important;
}

.bg {
  background: #111 url(http://a1iraqi.com/imgae/mac.png) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
}

.b_1 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_2 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_3 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_4 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_5 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_6 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_7 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_8 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_9 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.b_10 {
  background-image: url(http://a1iraqi.com/imgae/mac.png);
}

.playlist-wrapp {
  overflow: auto;
  float: left;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  padding-right: 1px;
  position: relative;
  z-index: 10;
}

.hide-left .playlist-wrapp {
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
}

.hide-left #ascrail2002 {
  opacity: 0 !important;
}

.s-info {
  float: right;
  margin: 6px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.s-info h3 {
  margin: 0;
  float: right;
  padding-top: 14px;
  font-size: 19px;
  color: #fff;
  font-family: "ArabicLightFont";
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "ArabicLightFont";
}
.sh-avatar {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  float: right;
  margin-left: 12px;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.jp-time-holder {
  color: #4e4e4e;
  padding: 0 5px;
  float: left;
  font-size: 13px;
}

.jp-time-holder, .jp-volume-controls {
  margin-top: 10px;
}

.jp-time-holder div {
  float: left;
}

.sepr {
  padding: 0 8px;
}

.jp-current-time {
  color: #b1b1b1;
}

.jp-playlist {
  height: 100%;
}

.jp-playlist li {
  text-align: right;
  border-radius: 4px;
  margin-right: 10px;
  direction: rtl;
}

.jp-playlist li a {
  padding: 6px 12px 6px 6px;
  display: inline-block;
  color: #fff;
}

.jp-playlist-item-remove {
  float: left;
  display: none !important;
}

li.jp-playlist-current {
  background-color: rgba(255, 255, 255, 0.1);
}

.jp-playlist li a.jp-playlist-current {
  color: #ff0045;
}

.jp-playlist li a.jp-playlist-current:before {
  display: inline-block;
  content: '';
  font-family: fontawesome;
  margin-left: 5px;
  font-size: 12px;
}

/*===========================================*/

.sh-list, .b_1, #ascrail2001, .playlist-wrapp, #ascrail2002, .s-info {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 980px) {
  .player-block {
    width: auto;
    margin: 0 10px;
    border: 0;
    box-shadow: none
  }
}

@media screen and (max-width: 680px) {
  .s-info {
    border-radius: 0;
    float: none;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 12px;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    z-index: 5;
  }
  .hide-left .s-info {
    opacity: 1;
  }
  .s-info img {
    margin: 0 auto 10px;
    display: block;
    float: none;
  }
  .s-info h3 {
    display: block;
    float: none;
    margin: 0;
  }
  .playlist-wrapp {
    float: none;
    width: auto;
  }
  .s-info:after {
    clear: both;
    content: '';
    display: block;
  }
  .jp-controls {
    clear: both;
  }
}

@media screen and (max-width: 380px) {
  .jp-volume-bar {
    width: 60px;
  }
  .jp-volume-controls button, .jp-volume-controls div {
    margin-left: 1px;
  }
}
